/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Header */
header {
    background-color: #0057b7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffd700;
}

/* Section Styles */
.section {
    padding: 40px 0;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    color: #0057b7;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Responsive Images */
.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.responsive-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Grid */
.img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.img-grid img {
    flex: 1;
    max-width: 45%;
    height: auto;
}

/* List Styles */
ul {
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Bouton Haut de Page */
.back-to-top {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #FF0000; /* Couleur du texte */
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-top:hover {
    color: #ffffff; /* Couleur au survol */
}